@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
  font-family: 'Poppins',sans-serif;
  margin: 0;
  padding: 0;
}
body{
  background-color: #1E1F28
}
h2{text-align: center;color:  #1E1F28;}


.App{
  padding: 3%;
  width: 20%;
  margin: 2em auto;
  background-color: #ffffff;
  border-radius: 5px;
}
.form-control{
  display:flex;
  flex-direction: column;
  margin-bottom: .5em;
}
.form-control input{
padding: 1%;
}

.todo-form h3{
  margin: 1em 0em
}
.button{
  width: 100%;
  padding: 2%;
  margin: 1em 0em;
  background-color: #2D2D39;
  color: #ffffff;
}
.button:hover{
  background-color: #1E1F28;
}

.todo-done{
  text-decoration: line-through;
  color: #008000;
}